# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Airflow
logs/
airflow.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/yes